*{
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS;
}

html, body {
    margin: 0;
    height: 100%;
}

.page-container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.menu-container{
  background-color: #ADD8E6;
  height: 20%;
  padding: 50px 50px 50px 50px;
	display: flex;
}

.menu-left{
  border: solid 1px;
  width: 50%;
}

.menu-right{
  border: solid 1px;
  width: 50%;
  display: inline-block;
	text-align: right;
	justify-content: space-between;
}

.name{
  font-size: 50px;
}

.description{
  font-size: 20px;
}

.links{
	align-self: flex-end;
	float: right;
}

.divider{
		margin-top:10px;
}

.page-container > .content{
	flex: 1 0 auto;
}

.projects-container{
	padding: 0 50px 0 50px;
	background-color: #ADD9E6;
	border: solid 1px;
	justify-content: center;
	flex-grow: 1;
	height: 100%
}

.project-grid {
	display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
	justify-content: space-around;
	vertical-align: middle;
}

.project-grid-item {
  border: 1px solid #fff;
  width: 350px;
  height: 500px;
	margin-top: 30px;
}

.page-container > .footer{
	background-color: #EEE;
	border: solid 1px;
	height: 100px;
  flex-shrink: 0;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	display: flex;
}

.vcenter{
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	display: flex;
	height: 100%;
}
